<h2>My Heroes</h2>

<ul class="heroes">
  <ng-template ngFor let-hero [ngForOf]="heroes" let-i="index">
    <!-- *ngFor="let hero of heroes" -->
    <li [ngClass]="{Selected: selectedHero?.id === hero.id}">
      <span [ngStyle]="{
        padding: '0 .25rem',
        marginRight: '1rem',
        backgroundColor: 'white',
        color: 'black'
      }">{{i + 1}}</span>
      <button 
      [class.selected]="hero === selectedHero" 
      type="button" (click)="onSelect(hero)"
      >
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ng-template>
</ul>

<app-hero-detail [clearSelected]="clearSelected" [hero]="selectedHero"></app-hero-detail>